.profile-pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #32313f;
    display: inline-block;
    /* float: left; */
  }
  
  .profile{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    background-color: #1a1927;
    padding: 16px;

  }

  /* .dropdown{
    position: relative;
    margin-left: auto;
    cursor: pointer;
    top: 10px;
    right: 10px;
  } */