#root {
  background-color: #C4D7E0;
  width: 100%;
  margin: 0;
  padding: 2rem;
  height: 100vh;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;


}


.left-div{
background-color: #1f1e30;
  flex-grow: 4;
}

